@mixin option-window {
  width: 80%;
  min-height: 4rem;
  text-align: center;
  border-radius: 1rem;
  background-color: rgba(23, 93, 81, 1);
  padding: 1rem;
  margin: 1rem;
}

.container {
  margin-inline: auto;
  width: 160rem;
  height: 100rem;
  display: flex;
  justify-content: center;
  padding-bottom: 20rem;
}

.tactic__wrapper {
  width: 70rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .formation {
    color: $main-color;
    font-family: $base-font;
    font-size: 3rem;
    margin-top: 2.5rem;
    margin-left: 3rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
  }

  .formation-select {
    width: 40%;
    height: 3rem;
    font-size: 2rem;
    font-family: $base-font;
    margin-top: 2.5rem;
    margin-left: 3rem;
    border: 2px solid black;
    border-radius: 1rem;
    padding-left: 3rem;
  }

  .tactics {
    display: flex;
    margin-left: -15rem;

    .options {
      margin-top: 2.5rem;
      height: 96.8rem;
      width: 25rem;
      background-color: rgb(0, 77, 64);
      margin-right: 1rem;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .mentality {
        margin-top: 2rem;

      }
      .mentality-select {
        border-radius: .7rem;
        height: 2.5rem;
        font-size: 1.6rem;
        width: 60%;
        text-align: center;
        background-color: $main-color;
        color: black;
        margin-bottom: 1rem;
      }
      .in-possession {
        @include option-window;
      }
      .in-transition {
        @include option-window;
      }
      .out-of-possession {
        @include option-window;
      }
    }

    .pitch {
      margin-top: 2.5rem;
      width: 70rem;
      height: 96.8rem;
      background-image: url(../assets/pitch2.svg);
      background-color: rgb(0, 125, 63);
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 2rem;
      position: relative;
    }
  }
}


// additional

.option-font {
  font-family: $base-font;
  color: $main-color;
  font-size: 1.3rem
}

.btn {
  width: 10rem;
  height: 4rem;
  margin: 4rem 4rem 4rem 14rem;
  background-color: $main-color;
  font-size: 2rem;
  font-family: $base-font;
  border-radius: 1rem;
  border: none;
}

.formation-element1 {
  width: 20%;
  position: absolute;
  top: 85rem;
  left: 28rem;
}

.formation-element2 {
  width: 20%;
  position: absolute;
  top: 70rem;
  left: 40rem;
}

.formation-element3 {
  width: 20%;
  position: absolute;
  top: 70rem;
  left: 28rem;
}

.formation-element4 {
  width: 20%;
  position: absolute;
  top: 70rem;
  left: 16rem;
}

.formation-element5 {
  width: 20%;
  position: absolute;
  top: 45rem;
  left: 48rem;
}

.formation-element6 {
  width: 20%;
  position: absolute;
  top: 45rem;
  left: 38rem;
}

.formation-element7 {
  width: 20%;
  position: absolute;
  top: 45rem;
  left: 28rem;
}

.formation-element8 {
  width: 20%;
  position: absolute;
  top: 45rem;
  left: 18rem;
}

.formation-element9 {
  width: 20%;
  position: absolute;
  top: 45rem;
  left: 8rem;
}

.formation-element10 {
  width: 20%;
  position: absolute;
  top: 10rem;
  left: 20rem
}

.formation-element11 {
  width: 20%;
  position: absolute;
  top: 10rem;
  left: 36rem
}