@mixin option-window {
  width: 80%;
  //min-height: 4rem;
  text-align: center;
  border-radius: 1rem;
  background-color: rgba(23, 93, 81, 1);
  padding: 1rem;
  margin: 1rem;
  //display: flex;
  //flex-direction: column;
}

.container {
  margin-inline: auto;
  width: 160rem;
  height: 100rem;
  display: flex;
  justify-content: center;
  padding-bottom: 20rem;
}

.tactic__wrapper {
  width: 70rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .formation {
    color: $main-color;
    font-family: $base-font;
    font-size: 3rem;
    margin-top: 2.5rem;
    margin-left: 3rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
  }

  .formation-select {
    width: 40%;
    height: 3rem;
    font-size: 2rem;
    font-family: $base-font;
    margin-top: 2.5rem;
    margin-left: 3rem;
    border: 2px solid black;
    border-radius: 1rem;
    padding-left: 3rem;
  }

  .tactics {
    display: flex;
    margin-left: -15rem;

    .options {
      margin-top: 2.5rem;
      height: 96.8rem;
      width: 25rem;
      background-color: rgb(0, 77, 64);
      margin-right: 1rem;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .mentality {
        margin-top: 2rem;

      }
      .mentality-select {
        border-radius: .7rem;
        height: 2.5rem;
        font-size: 1.6rem;
        width: 60%;
        text-align: center;
        background-color: $main-color;
        color: black;
        margin-bottom: 1rem;
      }
      .in-possession {
        @include option-window;
      }
      .in-transition {
        @include option-window;
      }
      .out-of-possession {
        @include option-window;
      }
    }

    .pitch {
      margin-top: 2.5rem;
      width: 70rem;
      height: 96.8rem;
      background-image: url(../assets/pitch2.svg);
      background-color: rgb(0, 125, 63);
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 2rem;
      position: relative;
    }
  }
}


// additional

.option-font {
  font-family: $base-font;
  color: $main-color;
  font-size: 1.3rem
}

.btn {
  width: 10rem;
  height: 4rem;
  margin: 4rem 4rem 4rem 14rem;
  background-color: $main-color;
  font-size: 2rem;
  font-family: $base-font;
  border-radius: 1rem;
  border: none;
}

.commands-window {
  margin-inline: auto;
  margin-top: 10rem;
  width: 95%;
  height: 60%;
  background-color: #fff;
  border-radius: 2rem;
  position: relative;
  border: 1rem solid rgb(0, 77, 64);
  background-color: rgba(0, 125, 63, 1);
  //background-color: rgba(0, 141, 31, 1);
  display: flex;
  align-items: center;

  .close-btn {
    width: 2rem;
    font-size: 1.5rem;
    height: 2rem;
    background-color: rgba(186, 37, 37, 1);
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: .5rem;
  }

  .options-section {
    width: 33%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(2) {
      border-inline: .2rem solid #fff;
      border-color: rgb(0, 77, 64);
    }

    .options-title {
      font-size: 1.26rem;
      font-family: $base-font;
      font-weight: 900;
      color: #fff;
      margin-top: .5rem;
    }

    .options-chosen {
      font-family: $base-font;
      font-weight: 300;
      color: #fff;
    }

    .range-input {
      -webkit-appearance: none;
      background: transparent;
      cursor: pointer;
      width: 80%;
      border: none;
      margin-top: .5rem;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      background: #053a5f;
      height: 0.5rem;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      margin-top: -.3rem; /* Centers thumb on the track */
      background-color: #5cd5eb;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
    }

    .options-btn {
      width: 90%;
      height: 3rem;
      background-color: rgb(0, 77, 64);
      color: #fff;
      font-family: $base-font;
      border: none;
      border-radius: .7rem;
    }

    .options-btn-active {
      width: 90%;
      height: 3rem;
      background-color: #0DC453;
      color: #fff;
      font-family: $base-font;
      border: none;
      border-radius: .7rem;
    }

    .small-pitch {
      width: 90%;
      height: 30rem;
      margin-top: 1.5rem;
      background-image: url(../assets/pitch2.svg);
      background-color: rgb(0, 125, 63);
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      .options-element {
        border: .1rem solid #008D1F;
        background-color: rgba(0, 77, 64, .6);
        font-family: $base-font;
        text-align: center;
        max-height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            width: 21.9%;
            margin-top: 1.7rem;
          }
        }
        @for $i from 5 through 7 {
          &:nth-child(#{$i}) {
            width: 29.7%;
          }
        }
        &:nth-child(8) {
          width: 91%;
          margin-bottom: 4.4rem;
        }
      }
    }

    .cross-select {
      width: 70%;
      height: 3rem;
      border-radius: .7rem;
      text-align: center;
      background-color: rgb(0, 77, 64);
      color: #fff;
      font-family: $base-font;
      border: none;
    }

    .final-third-title {
      margin-top: 1rem;
      &:first-child {
        margin: 0 0 .5rem 0;
      }
    }

    .final-third-pitch-element {
      border: .1rem solid #008D1F;
      background-color: rgba(0, 77, 64, .6);
      font-family: $base-font;
      text-align: center;
      max-height: 33%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      &:nth-child(1) {
        width: 45%;
        height: 15%;
        margin-top: 1.7rem;
        margin-inline: 4rem;
      }
      &:nth-child(2) {
        width: 21%;
        height: 27%;
      }
      &:nth-child(3) {
        width: 45%;
        height: 27%;
        margin-bottom: 14rem;
      }
      &:nth-child(4) {
        width: 21%;
        height: 27%;
      }
    }

    .final-third-btn {
      margin-top: .2rem;
      margin-bottom: .2rem;
    }

    .oop-pitch-element {
      border: .1rem solid #008D1F;
      background-color: rgba(0, 77, 64, .6);
      font-family: $base-font;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      &:nth-child(1) {
        position: absolute;
        width: 90%;
        height: 11%;
        top: 1.7rem;
      }
      &:nth-child(2) {
        position: absolute;
        width: 29%;
        height: 48%;
        left: .95rem;
        top: 5rem;
      }
      &:nth-child(3){
        position: absolute;
        width: 30%;
        height: 20%;
        top: 5rem;
        left: 6.85rem;
      }
      &:nth-child(4) {
        position: absolute;
        width: 30%;
        height: 27.5%;
        top: 11rem;
        left: 6.85rem;
      }
      &:nth-child(5) {
        position: absolute;
        position: absolute;
        width: 29%;
        height: 48%;
        right: .95rem;
        top: 5rem;
      }
      &:nth-child(6) {
        position: absolute;
        width: 30%;
        height: 5rem;
        top: 19.3rem;
        left: .9rem;
      }
      &:nth-child(7) {
        position: absolute;
        width: 30%;
        height: 5rem;
        top: 19.3rem;
      }
      &:nth-child(8) {
        position: absolute;
        width: 30%;
        height: 5rem;
        top: 19.3rem;
        right: .9rem;
      }
    }
  }
  .oop-section {
    width: 70%;
    //flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &:nth-child(2) {
      width: 30%;
    }

    .oop-pitch {
      width: 50%;
      margin-bottom: 1.5rem;
      position: relative;
    }
    .oop-range {
      width: 50%;
    }
  }
}

.displayed-options {
  font-size: 1rem;
  letter-spacing: .08rem;
  display: block;
  p {
    margin: .3rem;
    font-weight: 900;
    color: rgba(98, 166, 138, .8);
  }
}

.options-element-clicked {
  border: .1rem solid #008D1F;
  background-color: rgba(19, 219, 105, .7);
  font-family: $base-font;
  text-align: center;
  max-height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      width: 21.9%;
      margin-top: 1.7rem;
    }
  }
  @for $i from 5 through 7 {
    &:nth-child(#{$i}) {
      width: 29.7%;
    }
  }
  &:nth-child(8) {
    width: 91%;
    margin-bottom: 4.4rem;
  }
}

.final-third-pitch-element-clicked {
  border: .1rem solid #008D1F;
  background-color: rgba(19, 219, 105, .7);
  font-family: $base-font;
  text-align: center;
  max-height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  &:nth-child(1) {
    width: 45%;
    height: 15%;
    margin-top: 1.7rem;
    margin-inline: 4rem;
  }
  &:nth-child(2) {
    width: 21%;
    height: 27%;
  }
  &:nth-child(3) {
    width: 45%;
    height: 27%;
    margin-bottom: 14rem;
  }
  &:nth-child(4) {
    width: 21%;
    height: 27%;
  }
}

.arrow-outside0 {
  width: 10%;
  height: 10%;
  position: absolute;
  left: 5rem;
  top: 25rem;
}

.arrow-outside1 {
  width: 10%;
  height: 10%;
  position: absolute;
  left: 5rem;
  top: 20rem;
}

.arrow-outside2 {
  width: 10%;
  height: 10%;
  position: absolute;
  left: 5rem;
  top: 15rem;
}

.arrow-outside3 {
  width: 10%;
  height: 10%;
  transform: rotate(180deg);
  position: absolute;
  right: 6.2rem;
  top: 25rem;
}

.arrow-outside4 {
  width: 10%;
  height: 10%;
  transform: rotate(180deg);
  position: absolute;
  right: 6.2rem;
  top: 20rem;
}

.arrow-outside5 {
  width: 10%;
  height: 10%;
  transform: rotate(180deg);
  position: absolute;
  right: 6.2rem;
  top: 15rem;
}

.arrow-inside0 {
  width: 10%;
  height: 10%;
  transform: rotate(180deg);
  position: absolute;
  left: 5rem;
  top: 25rem;
}

.arrow-inside1 {
  width: 10%;
  height: 10%;
  transform: rotate(180deg);
  position: absolute;
  left: 5rem;
  top: 20rem;
}

.arrow-inside2 {
  width: 10%;
  height: 10%;
  transform: rotate(180deg);
  position: absolute;
  left: 5rem;
  top: 15rem;
}

.arrow-inside3 {
  width: 10%;
  height: 10%;
  position: absolute;
  right: 6.2rem;
  top: 25rem;
}

.arrow-inside4 {
  width: 10%;
  height: 10%;
  position: absolute;
  right: 6.2rem;
  top: 20rem;
}

.arrow-inside5 {
  width: 10%;
  height: 10%;
  position: absolute;
  right: 6.2rem;
  top: 15rem;
}
