.header {
  width: 100%;
  height: 6rem;
  border: 1px solid black;
  background: rgb(77,37,140);
  background: linear-gradient(90deg, rgba(77,37,140,1) 0%, rgba(16,6,27,1) 67%);
  color: $main-color;
  font-family: $base-font;
  font-weight: 600;

  .main__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;

    .logo {
      font-size: 3rem;
      padding: 3rem;
      font-weight: 900;
      color: rgba(240, 240, 240, .9);
      text-decoration: none;
    }

    .elements__wrapper {
      display: flex;
      align-items: center;

      .nav__element {
        margin-inline: 5rem;
        font-size: 2rem;
        text-decoration: none;
        color: $main-color;
      }
    }
  }
}

.logout__button {
  width: 9rem;
  margin-left: 13rem;
  border: none;
  background:rgba(77,37,140,1);
  font-family: $base-font;
  color: $main-color;
}


@media (max-width: 420px) {
  .header {
    // background: rgb(181, 177, 187);
    position: relative;
    
    .main__navigation {
      .logo {
        font-size: 2.3rem;
        padding: 1rem;
        width: 50%;
        margin-left: 1rem;
      }
    }
  }

  .hamburger {
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
    position: absolute;
    right: 0;
  }

  .elements__wrapper {
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
      background: linear-gradient(90deg, rgba(77,37,140,1) 0%, rgba(16,6,27,1) 67%);
      padding: 3%;

    .nav__element {
      margin: -1rem 1rem 2rem 1rem;
      padding: .5rem;
    }
  }

  .account {

    .nav__element {
      margin: 1rem;
    }
  }
}